* {
  margin: 0;
  padding: 0;
}

.container-imagem {
  height: 100vw;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  margin: 0 auto;
}